@import url('https://ajhs-git.b-cdn.net/fonts/stylesheet.css');

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), local('Metropolis'),
  url('https://ajhs-git.b-cdn.net/fonts/Metropolis-Medium.woff2') format('woff2'),
  url('https://ajhs-git.b-cdn.net/fonts/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), local('Metropolis'),
  url('https://ajhs-git.b-cdn.net/fonts/Metropolis-Light.woff2') format('woff2'),
  url('https://ajhs-git.b-cdn.net/fonts/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
