// Colors
$white: #edefed;
$gray-100: #d6d9d7;
$gray-200: #bfc4c2;
$gray-300: #a8afad;
$gray-400: #919a98;
$gray-500: #919a98;
$gray-600: #7a8583;
$gray-700: #63706e;
$gray-800: #4c5b59;
$gray-900: #354644;
$gray: #6f7f73;
$black: #1f312f;

$blue: #1f312f;
$red: #ee5f5b;
$orange: #fd7e14;
$yellow: #f89406;
$green: #62c462;
$teal: #20c997;
$cyan: #5bc0de;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;

$colors: ();
$colors: map-merge(
    (
      "blue": $blue,
      "indigo": $indigo,
      "purple": $purple,
      "pink": $pink,
      "red": $red,
      "orange": $orange,
      "yellow": $yellow,
      "green": $green,
      "teal": $teal,
      "cyan": $cyan,
      "white": $white,
      "gray": $gray-600,
      "gray-dark": $gray-800
    ),
    $colors
);

$theme-colors: ();
$theme-colors: map-merge(
    (
      "primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark
    ),
    $theme-colors
);

$yiq-contrasted-threshold: 170;


// Dark Theme
$darkmode-bg: $gray-900;
$darkmode-bg-dark: darken($gray-900, 3%);
$darkmode-bg-darker: darken($gray-900, 6%);


// Body
$body-bg: $darkmode-bg-darker;
$body-color: $gray-400;
$body-color-muted: $gray-600;


// Components
$border-color: $darkmode-bg;


// Links
$link-color: $gray-200;
$link-hover-color: $white;


// Tables
$table-color: $white;
$table-accent-bg: rgba($white, .05);
$table-hover-bg: $gray-900;

$table-border-color: $darkmode-bg-dark;

$table-dark-border-color: $table-border-color;
$table-dark-color: $white;


// Forms
$input-bg: $gray-800;
$input-disabled-bg: $darkmode-bg;
$input-border-color: $darkmode-bg-dark;
$input-color: $body-color;


// Dropdowns
$dropdown-bg: $primary;
$dropdown-border-color: darken($primary, 5%);
$dropdown-divider-bg: darken($primary, 5%);

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: darken($primary, 5%);


// Navs
$nav-tabs-border-color: $gray-900;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

$navbar-dark-hover-color: $white;

$navbar-light-hover-color: $gray-800;
$navbar-light-active-color: $gray-800;


// Pagination
$pagination-color: $white;
$pagination-bg: $darkmode-bg-dark;
$pagination-border-color: $darkmode-bg-dark;

$pagination-hover-color: $white;
$pagination-hover-bg: $darkmode-bg;
$pagination-hover-border-color: $darkmode-bg;

$pagination-active-bg: $darkmode-bg;
$pagination-active-border-color: $darkmode-bg;

$pagination-disabled-color: $body-color-muted;
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: $pagination-border-color;


// Cards
$card-border-color: $darkmode-bg-dark;
$card-cap-bg: $darkmode-bg;
$card-bg: $darkmode-bg;


// List group
$list-group-bg: $darkmode-bg;
$list-group-border-color: $darkmode-bg-darker;

$list-group-hover-bg: $darkmode-bg-dark;
$list-group-active-color: $white;
$list-group-active-bg: $list-group-hover-bg;
$list-group-active-border-color: $list-group-border-color;

$list-group-disabled-color: $gray-700;

$list-group-action-color: $white;

// Alerts
$alert-bg-level: +8;
$alert-border-level: +7;
$alert-color-level: -8;

// Code
$code-background-color: $darkmode-bg;
